html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

a {
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  overflow: visible;
}

.bold {
  font-weight: bold;
}

.grid {
  display: grid;
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.subpage {
  padding: 2rem 1rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.border-bottom-2 {
  border-bottom: 2px solid rgba(209, 213, 219, 1);
  padding-bottom: 2rem;
}

td-prism {
  span.lineNumber {
    margin-right: 20px;
  }
}

.codeBlock {
  margin: 0;
}
