@use 'variables';
@use 'functions';

.name-container {
  display: flex;
  margin: 0 0 variables.$padding 0;

  .name {
    font-size: functions.rem(18);
    line-height: 1.75em;
    font-weight: 600;
    color: rgba(37, 99, 235, 1);
  }

  .visibility {
    display: inline-block;
    padding: 0 7px;
    margin: 2px 2px 2px 8px;
    font-size: functions.rem(13);
    font-weight: 500;
    line-height: 1.8em;
    color: rgba(75, 85, 99, 1);
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 2em;
  }
}

.description {
  margin: 8px auto;
}

.subline {
  display: flex;
  gap: 16px;
  font-size: functions.rem(12);
  line-height: 1.4em;
  color: rgba(75, 85, 99, 1);

  .language {
    display: flex;
    align-items: center;

    .language-color {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .stars {
    display: flex;
    align-items: center;
    line-height: 1.4em;

    .star-count {
      margin-left: 4px;
    }
  }

  .license {
    .license-name {
      margin-left: 6px;
    }
  }
}
