<div className="border-b border-gray-200">
  <nav className="-mb-px flex" aria-label="Tabs">
    <!-- {tabList.map(({ title, path, Icon }, index) => ( -->
    <ng-container *ngFor="let tab of tabList"></ng-container>
        <a [routerLink]="tab.path ? `/${owner}/${name}/${tab.path}` : `/${owner}/${name}`"
          className={cn(
            isCurrentTab(tab.path) ? styles.tabActive : styles.tabInactive,
            styles.tab
          )}
        >
          <Icon
            className={cn(
              isCurrentTab(tab.path) ? styles.iconActive : styles.iconInactive,
              styles.icon
            )}
          />
          <span>{tab.title}</span>
        </a>
    <!-- ))} -->
  </nav>
</div>