<div class="wrapper animate-pulse">
  <div class="topRow">
    <div>
      <div
        class="inline-block align-middle w-60 h-7 bg-gray-200 rounded mr-3"
      ></div>
      <div
        class="inline-block align-middle w-16 h-6 bg-gray-200 rounded-full"
      ></div>
    </div>
    <div>
      <div class="inline-block w-28 h-8 bg-gray-200 rounded mr-3"></div>
      <div class="inline-block w-28 h-8 bg-gray-200 rounded mr-3"></div>
      <div class="inline-block w-28 h-8 bg-gray-200 rounded"></div>
    </div>
  </div>
  <div class="bottomRow">
    <div>
      <div class="inline-block w-14 h-5 bg-gray-200 rounded m-4"></div>
      <div class="inline-block w-24 h-5 bg-gray-200 rounded m-4"></div>
      <div class="inline-block w-36 h-5 bg-gray-200 rounded m-4"></div>
    </div>
  </div>
</div>
