{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/preset-env", { "targets": { "node": "current" } }]
  ],
  "plugins": ["@vanilla-extract/babel-plugin"]
}
