@import '../../../styles/variables.scss';

.filter-dropdown-container {
  margin: 0;
  padding: 0;
  position: relative;

  .control-dropdown {
    display: inline-flex;
    align-items: center;
    border-radius: 0.375rem;
    border: 1px solid $gray300;
    background-color: $gray100;
    padding: 0.375rem 1rem;
    line-height: 1.25rem;
    color: $gray900;

    &__name {
      font-weight: 600;
    }

    &__caret {
      margin-left: 0.25em;
    }
  }

  .menu {
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    background-color: #ffffff;
    transform-origin: top right;
    width: 18rem;
    border-radius: 0.375rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__description {
        padding: 0.625rem 1rem;
        font-size: .75rem;
        line-height: 1rem;
        font-weight: 600;
      }

      &__icon {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        display: inline;
      }
    }

    &__item-button {
      cursor: pointer;
      border: none;
      background-color: $white;
      position: relative;
      padding: 0.5rem 2.5rem;
      font-size: 0.85rem;
      line-height: 1rem;
      text-align: left;
      text-transform: capitalize;
      width: 100%;
      border-top: 1px solid #D1D5DB;

      &:hover {
        background-color: #F3F4F6;
      }
    }

    &__item-icon {
      position: absolute;
      left: 1rem;
      display: inline;
    }
  }
}
