<sd-data-container
  *ngIf="profileReposDetails$ | async as profileRepos"
  [data]="profileRepos"
>
  <div content>
    <app-repos-filters
      [state]="(filterState$ | async)!"
      [resultCount]="resultCount$ | async"
      [hasActiveFilters]="hasActiveFilters$ | async"
      [isQueryActive]="isQueryActive$ | async"
      [isTypeActive]="isTypeActive$ | async"
      [isLanguageActive]="isLanguageActive$ | async"
      (search)="search($event)"
      (setType)="setType($event)"
      (setLanguage)="setLanguage($event)"
      (setLanguages)="setLanguages($event)"
      (setSort)="setSort($event)"
      (setQuery)="setQuery($event)"
      (clearFilters)="clearFilters()"
    ></app-repos-filters>
    <div *ngFor="let repo of profileRepos.repos">
      <div class="profile-repos-container">
        <div class="content">
          <h3 class="mb-2">
            <a
              [routerLink]="[repo.name]"
              routerLinkActive="router-link-active"
              class="headingLink"
              >{{ repo.name }}</a
            >
            <sd-privacy-badge
              [isPrivate]="repo.isPrivate"
              class="relative bottom-0.5"
            ></sd-privacy-badge>
          </h3>
          <div class="description">{{ repo.description }}</div>
          <app-repo-meta
            [language]="repo.language"
            [languageColor]="repo.languageColor"
            [forkCount]="repo.forkCount"
            [stargazerCount]="repo.stargazerCount"
            [updatedAt]="repo.updatedAt"
          ></app-repo-meta>
        </div>
        <div class="aside">
          <button class="starBtn">
            <hero-icon
              name="star"
              type="outline"
              class="starIcon"
              aria-hidden="true"
            ></hero-icon>
            Star
          </button>
        </div>
      </div>
    </div>
    <!-- TODO: pagination -->
  </div>

  <div
    data-testid="errorMsg"
    class="py-4 text-lg font-medium text-gray-800"
    error
  >
    Error Loading Repositories. Check console / network tab for more
    information.
  </div>
  <div
    class="py-8 border-b border-gray-200 first-of-type:border-t grid grid-cols-12 gap-x-4"
    loading
  >
    <app-profile-repos-loading></app-profile-repos-loading>
  </div>
</sd-data-container>
