<ng-container *ngIf="userRepos$ | async as userRepos; else loading">
  <div>
    <app-repos-filters
      [state]="(filterState$ | async)!"
      [resultCount]="resultCount$ | async"
      [hasActiveFilters]="hasActiveFilters$ | async"
      [isQueryActive]="isQueryActive$ | async"
      [isTypeActive]="isTypeActive$ | async"
      [isLanguageActive]="isLanguageActive$ | async"
      (search)="search($event)"
      (setType)="setType($event)"
      (setLanguage)="setLanguage($event)"
      (setLanguages)="setLanguages($event)"
      (setSort)="setSort($event)"
      (setQuery)="setQuery($event)"
      (clearFilters)="clearFilters()"
    ></app-repos-filters>
    <div *ngFor="let repo of userRepos">
      <div class="profile-repos-container" data-testid="repository list item">
        <div class="content">
          <h3 class="mb-2">
            <a
              [routerLink]="repo.routePath"
              routerLinkActive="router-link-active"
              class="headingLink"
              data-testid="repository name"
              >{{ repo.name }}</a
            >
            <sd-privacy-badge
              [isPrivate]="repo.isPrivate"
              class="relative bottom-0.5"
            ></sd-privacy-badge>
          </h3>
          <div class="description" data-testid="repository description">
            {{ repo.description }}
          </div>
          <app-repo-meta
            [language]="repo.language"
            [languageColor]="repo.languageColor!"
            [forkCount]="repo.forkCount"
            [stargazerCount]="repo.stargazerCount"
            [updatedAt]="repo.updatedAt"
          ></app-repo-meta>
        </div>
        <div class="aside">
          <button class="starBtn">
            <hero-icon
              name="star"
              type="outline"
              class="starIcon"
              aria-hidden="true"
            ></hero-icon>
            Star
          </button>
        </div>
      </div>
    </div>
    <app-pagination
      [pageInfo]="(pageInfo$ | async)!"
      (changePage)="changePage($event)"
    ></app-pagination>
  </div>
</ng-container>

<!-- <div
  data-testid="errorMsg"
  class="py-4 text-lg font-medium text-gray-800"
>
  Error Loading Repositories. Check console / network tab for more
  information.
</div> -->

<ng-template #loading>
  <div
    class="py-8 border-b border-gray-200 first-of-type:border-t grid grid-cols-12 gap-x-4"
  >
    <app-profile-repos-loading></app-profile-repos-loading>
  </div>
</ng-template>
