@use 'variables';
@use 'functions';

.item {
  display: flex;
  padding: variables.$padding--l;

  & > .icon {
    margin-right: variables.$padding--l;

    .purple {
      color: variables.$purple600;
    }

    .green {
      color: variables.$green600;
    }
  }

  .title {
    color: variables.$gray800;
    font-weight: 600;
  }

  .details {
    flex: 1;

    .meta {
      color: variables.$gray600;
      font-size: functions.rem(12);

      a {
        color: inherit;

        &:hover {
          color: variables.$blue500;
          text-decoration: none;
        }
      }
    }
  }

  .label {
    display: inline-block;
    padding: functions.rem(2) variables.$padding;
    margin-left: functions.rem(2);
    margin-right: functions.rem(2);
    font-size: functions.rem(11);
    line-height: variables.$padding--l;
    font-weight: 500;
    white-space: nowrap;
    border-radius: functions.rem(11);
  }

  .comments {
    text-align: center;
    position: relative;

    span[appOcticon='comment'] {
      display: block;
    }
  }
}
