@use '../../shared/styles/variables';

.file-viewer-container {
  overflow: hidden;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: variables.$gray300;
}

.fileHeader {
  padding: 0.75rem 1rem;
  background-color: variables.$gray100;
  color: variables.$gray800;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  border-bottom-width: 1px;
  border-color: variables.$gray300;
}

.fileHeaderLines {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fileHeaderBytes {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 1px solid variables.$gray300;
}

.codeBlock {
  border-spacing: 5px;
  overflow: auto;
  padding: 0.25rem 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
}

.lineNumber {
  display: table-cell;
  padding-right: 1rem;
  color: variables.$gray500 !important;
  text-align: right;
  user-select: none;
}
