<div
  content
  *ngIf="fileContent"
  class="file-viewer-container"
>
  <div class="fileHeader">
      <span data-testid="file viewer line count" class="fileHeaderLines"
      >{{ lines }} lines</span
      >
    <span data-testid="file viewer byte size" class="fileHeaderBytes"
    >{{ fileContent.size }} Bytes</span
    >
  </div>
  <ng-container *ngIf="language; else unknownLanguage">
    <app-file-code
      [text]="fileContent.content"
      [language]="language"
    ></app-file-code>
  </ng-container>
  <ng-template #unknownLanguage>
    <app-file-text [text]="fileContent.content"></app-file-text>
  </ng-template>
</div>
