<div *ngFor="let pullRequest of pullRequests">
  <div class="pull-request" data-testid="pr">
    <div class="pull-requests-list-container">
      <div class="flex">
        <ng-container *ngIf="pullRequest.closed; else open">
          <hero-icon
            name="check-circle"
            type="outline"
            class="stateIcon purple"
            aria-hidden="true"
          ></hero-icon>
        </ng-container>
        <ng-template #open>
          <hero-icon
            name="minus-circle"
            type="outline"
            class="stateIcon green"
            aria-hidden="true"
          ></hero-icon>
        </ng-template>
        <div>
          <div class="content">
            <span class="title" data-testid="pull request title">{{
              pullRequest.title
            }}</span>
            <span class="inline" *ngFor="let label of pullRequest.labels">
              <span
                data-testid="pull request label name"
                [style.background-color]="colorMap(label.color)"
                class="label"
              >
                {{ label.name }}
              </span>
            </span>
          </div>
          <div class="meta" data-testid="pull request number">
            #{{ pullRequest.number }}
            <span
              data-testid="pull request created at"
              *ngIf="pullRequest.closed === false"
            >
              opened
              {{ pullRequest.createdAt | formatDistance: baseDate }}
              ago
            </span>
            by
            <span class="link" data-testid="pull request created by">{{
              pullRequest.login
            }}</span>
            <span
              data-testid="pull request closed at"
              *ngIf="pullRequest.closedAt"
            >
              was closed
              {{ pullRequest.closedAt | formatDistance: baseDate }}
              ago
            </span>
          </div>
        </div>
      </div>
      <div class="mt-1 commentsIcon">
        <hero-icon
          name="chat-alt"
          type="outline"
          class="commentsIcon"
          aria-hidden="true"
        ></hero-icon>
        <span data-testid="pull request comment count">
          {{ pullRequest.commentCount }}
        </span>
      </div>
    </div>
  </div>
</div>
