@import "~/src/App.css";

.repo_search_header {
  display: flex;
  flex-flow: column;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border);

  @media (min-width: 1024px) {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    & > *:not(:last-child) {
      margin-right: 4px;
    }
  }

  .new_repo {
    background-color: #2ea44f;
    justify-content: space-between;
    color: #fff;

    position: relative;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    justify-content: center;
    transform: translateY(-130px);
    -webkit-transform: translateY(-130px);
    -moz-transform: translateY(-130px);
    -ms-transform: translateY(-130px);
    -o-transform: translateY(-130px);
    margin-left: unset;
    text-decoration: none;

      .new_repo_btn {
        padding-left: 5px;
      }

      svg {
        fill: #fff;
      }

      @media (min-width: 1024px) {
        margin-left: 10px;
      }
  }
}