<div class="md:py-12 max-w-screen-xl mx-auto">
  <div *ngIf="hasActiveFilters$ | async">
    <button class="clearButton group" (click)="clearFilters()">
      <span class="clearButtonIconContainer group-hover:bg-blue-500">
        <hero-icon
          name="x"
          type="outline"
          class="clearButtonIcon"
          aria-hidden="true"
        ></hero-icon>
      </span>
      <span class="clearButtonText group-hover:text-blue-500">
        Clear current search query, filters, and sorts
      </span>
    </button>
  </div>
  <div class="issues-container">
    <ng-container *ngIf="repoIssues$ | async as activeIssues; else loading">
      <app-issues-filters
        [openCount]="openIssuesCount$ | async"
        [closedCount]="closedIssuesCount$ | async"
        [currentMilestone]="milestone$ | async"
        [milestones]="milestones$ | async"
        [currentLabel]="label$ | async"
        [labels]="labels$ | async"
        [sort]="sort$ | async"
        [issueState]="issueState$ | async"
        (setLabel)="setLabel($event)"
        (setMilestone)="setMilestone($event)"
        (setSort)="setSort($event)"
        (openIssue)="openIssue()"
        (closeIssue)="closeIssue()"
      ></app-issues-filters>

      <app-issues-list
        *ngIf="activeIssues.nodes.length; else empty"
        [issues]="activeIssues.nodes"
      ></app-issues-list>

      <ng-template #empty><app-issues-empty></app-issues-empty></ng-template>
    </ng-container>

    <ng-template #loading>
      <app-issues-skeleton></app-issues-skeleton>
    </ng-template>
  </div>
  <app-pagination [pageInfo]="pageInfo$ | async"></app-pagination>
</div>
