<div data-testid="repo issues" class="md:py-12 max-w-screen-xl mx-auto">
  <div *ngIf="hasActiveFilters$ | async">
    <button class="clearButton group" (click)="clearFilters()">
      <span class="clearButtonIconContainer group-hover:bg-blue-500">
        <hero-icon
          name="x"
          type="outline"
          class="clearButtonIcon"
          aria-hidden="true"
        ></hero-icon>
      </span>
      <span class="clearButtonText group-hover:text-blue-500">
        Clear current search query, filters, and sorts
      </span>
    </button>
  </div>
  <ng-container *ngIf="issuesLoaded$ | async; else loading">
    <div *ngIf="repoIssues$ | async as repoIssues" class="issues-container">
      <app-issues-filters
        [openCount]="openIssuesCount$ | async"
        [closedCount]="closedIssuesCount$ | async"
        [currentMilestone]="milestone$ | async"
        [milestones]="milestones$ | async"
        [currentLabel]="label$ | async"
        [labels]="labels$ | async"
        [sort]="sort$ | async"
        [issueState]="issueState$ | async"
        (setLabel)="setLabel($event)"
        (setMilestone)="setMilestone($event)"
        (setSort)="setSort($event)"
        (openIssue)="openIssue()"
        (closeIssue)="closeIssue()"
      ></app-issues-filters>

      <app-issues-list
        *ngIf="repoIssues.issues.length; else empty"
        [issues]="repoIssues.issues"
      ></app-issues-list>

      <ng-template #empty><app-issues-empty></app-issues-empty></ng-template>
    </div>
    <app-pagination
      [pageInfo]="pageInfo$ | async"
      (changePage)="changePage($event)"
    ></app-pagination>
  </ng-container>

  <ng-template #loading>
    <div class="issues-container">
      <app-issues-filters
        [openCount]="0"
        [closedCount]="0"
        [currentMilestone]="milestone$ | async"
        [milestones]="[]"
        [currentLabel]="label$ | async"
        [labels]="[]"
        [sort]="sort$ | async"
        [issueState]="issueState$ | async"
        (setLabel)="setLabel($event)"
        (setMilestone)="setMilestone($event)"
        (setSort)="setSort($event)"
        (openIssue)="openIssue()"
        (closeIssue)="closeIssue()"
      ></app-issues-filters>

      <app-issues-skeleton></app-issues-skeleton>
    </div>
  </ng-template>
</div>
