@use 'variables';
@use 'functions';

.empty-list {
  display: flex;
  height: functions.rem(140);
  align-items: center;
  justify-content: center;
  font-size: functions.rem(21);
}

app-pull-request-card {
  display: block;
  border-bottom: 1px solid variables.$gray200;

  &:last-child {
    border-bottom: unset;
  }
}
