@use '../../../shared/styles/variables';

.empty-list {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

app-pull-request-card {
  display: block;
  border-bottom: 1px solid variables.$gray200;

  &:last-child {
    border-bottom: unset;
  }
}
