@use 'variables';
@use 'functions';

.info {
  display: flex;
  gap: functions.rem(13);
  &__counter {
    display: flex;
    border: 2px solid variables.$gray200;
    border-radius: variables.$padding;
    font-size: functions.rem(13);
    &__icon {
      display: flex;
      align-items: center;
      line-height: variables.$padding;
      padding: functions.rem(2) functions.rem(13);
      gap: variables.$padding;
      border-right: 2px solid variables.$gray200;
    }
    &__count {
      border-top-right-radius: variables.$padding;
      border-bottom-right-radius: variables.$padding;
      background-color: variables.$white;
      padding: functions.rem(2) functions.rem(13);
    }
  }
}
