@use '../../../../shared/styles/variables.scss';

.info {
  display: flex;
  gap: 0.9rem;
  &__counter {
    display: flex;
    border: 2px solid variables.$gray200;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    &__icon {
      display: flex;
      align-items: center;
      line-height: 0.5rem;
      padding: 0.125rem 0.9rem;
      gap: 0.5rem;
      border-right: 2px solid variables.$gray200;
    }
    &__count {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      background-color: variables.$white;
      padding: 0.125rem 0.9rem;
    }
  }
}
