<div class="info-container">
  <div class="watch">
    <div class="icon-container">
      <span class="icon" appOcticon="eye"></span>
      Watch
    </div>
    <div class="count">
      {{ watch }}
    </div>
  </div>
  <div class="star">
    <div class="icon-container">
      <span class="icon" appOcticon="star"></span>
      Star
    </div>
    <div class="count">
      {{ stars }}
    </div>
  </div>
  <div class="fork">
    <div class="icon-container">
      <span class="icon" appOcticon="repo-forked"></span>
      Fork
    </div>
    <div class="count">
      {{ forks }}
    </div>
  </div>
</div>
