<div class="info">
  <div class="info__counter">
    <div class="info__counter__icon">
      <span class="icon" appOcticon="eye"></span>
      Watch
    </div>
    <div class="info__counter__count">
      {{ watch }}
    </div>
  </div>
  <div class="info__counter">
    <div class="info__counter__icon">
      <span class="icon" appOcticon="star"></span>
      Star
    </div>
    <div class="info__counter__count">
      {{ stars }}
    </div>
  </div>
  <div class="info__counter">
    <div class="info__counter__icon">
      <span class="icon" appOcticon="repo-forked"></span>
      Fork
    </div>
    <div class="info__counter__count">
      {{ forks }}
    </div>
  </div>
</div>
