<h1 class="space-x-2.5 flex items-center text-xl">
  <app-privacy-icon
    [isPrivate]="detail?.repository?.isPrivate"
  ></app-privacy-icon>
  <span class="space-x-1.5 mb-0.5">
    <a class="text-blue-600 hover:underline">{{ detail?.owner }}</a>
    <span class="text-gray-600">/</span>
    <a [routerLink]="[detail?.owner, detail?.name]">
      <a class="text-blue-600 font-semibold hover:underline">{{
        detail?.name
      }}</a>
    </a>
  </span>
  <app-privacy-badge
    class="pb-1"
    [isPrivate]="detail?.repository?.isPrivate"
  ></app-privacy-badge>
</h1>
