<!-- <div class="flex items-center justify-center w-screen h-screen" style="height: 100vh">
  <div class="px-4 lg:py-12">
    <div class="lg:gap-4 lg:flex">
      <div
        class="flex flex-col items-center justify-center md:py-24 lg:py-32"
      >
        <h1 class="font-bold text-blue-600 text-[128px]">404</h1>
        <p
          class="mb-2 text-2xl font-bold text-center text-gray-800 md:text-3xl"
        >
          <span class="text-red-500">Oops!</span> Page not found
        </p>
        <p class="mb-8 text-center text-gray-500 md:text-lg">
          The page you’re looking for doesn’t exist.
        </p>
        <a
          routerLink="/"
          class="px-6 py-2 text-sm font-semibold text-blue-800 bg-blue-100"
          >Go home</a
        >
      </div>
    </div>
  </div>
</div> -->

<section class="flex items-center h-screen py-16" style="height: 100vh">
  <div
    class="container flex flex-col items-center justify-center px-5 mx-auto my-8"
  >
    <div class="max-w-md text-center">
      <h2 class="mb-4 font-extrabold text-9xl">
        <span class="sr-only">Error</span>404
      </h2>
      <p class="text-2xl font-semibold md:text-3xl mb-8">
        Sorry, we couldn't find this page.
      </p>
      <a
        rel="noopener noreferrer"
        routerLink="/"
        class="px-8 py-3 font-semibold rounded bg-gray-900"
      >
        <span class="text-white">Back to homepage</span>
      </a>
    </div>
  </div>
</section>
