@use 'variables';
@use 'functions';

a {
  color: variables.$gray500;
}

a > span,
.link {
  margin-right: variables.$padding;
}

.mt-1 {
  margin-top: variables.$padding--l;
}

.topic {
  padding: variables.$padding--s variables.$padding;
  margin-right: functions.rem(5);
  background-color: variables.$blue100;
  transition-property: background-color, border-color, color, fill, stroke;
  color: variables.$blue600;
  font-size: functions.rem(11);
  line-height: variables.$padding--l;
  font-weight: 500;
  border-radius: functions.rem(11);
  cursor: pointer;

  &:hover {
    background-color: variables.$blue600;
    color: variables.$white;
  }
}
