<div class="container">
  <app-issues-header
    [viewState]="viewState"
    [openIssues]="openIssues$ | async"
    [closedIssues]="closedIssues$ | async"
    [owner]="owner"
    [repoName]="repoName"
    (viewStateChange)="viewStateChange($event)"
  ></app-issues-header>
</div>
<div class="container issues-container">
  <app-issues-list
    [issues]="
      viewState === 'open' ? (openIssues$ | async) : (closedIssues$ | async)
    "
  ></app-issues-list>
</div>
<app-pagination
  [params]="
    viewState === 'open'
      ? (openIssuesPaginationParams$ | async)
      : (closedIssuesPaginationParams$ | async)
  "
  (pageChange)="pageChange($event)"
></app-pagination>
