@use 'variables';
@use 'functions';

.issues-container {
  border-bottom-left-radius: variables.$padding;
  border-bottom-right-radius: variables.$padding;
  border: 1px solid variables.$gray200;
  margin-bottom: functions.rem(14);
}
