<div class="wrapper">
  <ng-container *ngIf="repo$ | async as repo">
    <div class="top">
      <app-repo-heading
        [owner]="owner"
        [name]="name"
        [repo]="repo"
      ></app-repo-heading>
      <app-repo-info
        [watch]="repo.watchCount"
        [stars]="repo.starCount"
        [forks]="repo.forkCount"
      ></app-repo-info>
    </div>
    <app-repo-navigation
      [basePath]="basePath"
      [issuesCount]="repo.issueCount"
      [pullsCount]="repo.prCount"
    ></app-repo-navigation>
  </ng-container>
</div>
