@use 'variables';
@use 'functions';

.wrapper {
  padding: functions.rem(21) functions.rem(42) 0;
  background-color: variables.$gray100;
  border-bottom: 1px solid variables.$gray300;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: functions.rem(21);
  }
}
