// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #0969da;
$primary-100: #f6f8fa;
$secondary: #586069;
$secondary-100: #d0d7de;
$secondary-200: #57606a;
$accent: #6e5494;
$success: #2ea44f;

$dark: #111827;
$dark-300: #1b1f2414;

$positive: #2ea44f;
$negative: #bd2c00;
$info: #54aeff;
$warning: #c9510c;
$danger-100: #ffebe9;
$danger-800: #cf222e;

$purple-700: #8250df;

$dark: #111827;
$dark-800: #24292f;

$xs-breakpoint: 718px;
$sm-breakpoint: 1024px;
$md-breakpoint: 1439px;
$lg-breakpoint: 1920px;
