@import "~/src/App.css";

.profile-card {
  width: 400px;
  display: none;
  background-color: #FFFFFF;
  padding: 1rem 3rem;
  font-family: var(--font-family);

  @media (min-width: 1024px) {
    display: block;
  }

  & > .avatar_name_bio {
    margin-inline: auto;
    width: 100%;
    // background-color: var(--color-btn-bg);

    & > .avatar {
       width: 100%;
       min-height: 277.88px;
       height: auto;
       border: 1px solid var(--color-avatar-border);
       background-color: var(--color-btn-bg);
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       overflow: hidden;
      }
      & > .name_bio {
        margin: 0.5rem 0 1rem;
        // padding: 1rem;
        & > .name {
          display: block !important;
          font-size: 26px;
          line-height: 1.25;
          font-weight: 600;
          overflow: hidden;
        }
        & > .login {
          display: block !important;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 24px;
          color: var(--color-fg-muted);
        }
      }
  }

  & > .bio {
    // padding: 1rem;
    font-size: 16px !important;
  }
  & > .follows {
    display: flex;
    align-items: center;
    margin: 1rem 0 0;
    // padding-left: 1rem;

      & > *:not(:last-child) {
        margin-right: 0.5rem;;
      }

      & > a {
        text-decoration: none;
        display: inline-block;
        color: var(--color-fg-muted);
        &:hover {
          color: var(--color-accent-fg);
          & > svg {
            color: var(--color-accent-fg);
          }
        }
        & > span {
          display: inline-block;
          font-weight: 600 !important;
          color: var(--color-fg-default);
          margin-inline: 0.2rem;
        }
      }
  }
  .others {
    margin-top: 1rem;
    & > p {
      margin-bottom: 8px;
      & > a {
        text-decoration: none;
      }
      & > svg {
        margin-right: 6px;
      }
    }
  }
  .heading {
    font-size: 16px !important;
  }
  .divider {
    margin: 10px 0 10px;
  }
  .organization {
    margin: 2px 0 6px;
    align-items: center;
    // overflow-x: auto;
    flex-wrap: nowrap;
    padding: 10px 1px;
    --gap: 0;
    

    & > * {
      
      width: 32px;
      height: 32px;
      flex: 0 0 auto;
      position: relative;
      & > .info {
        display: none;
        position: absolute;
        z-index: 20;
        bottom: 42px;
        left: -13px;
        width: 280px;
        height: 120px;
        border: 1px solid var(--color-border-muted);
        background-color: #FFFFFF;
        box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        & > p.top {
          padding: 1rem;
          display: flex;
          & > img {
            margin-right: 10px;
          }
        }
          & 
          :after {
            content: '';
            position: absolute;
            z-index: 0;
            width: 15px;
            height: 15px;
            background-color: #FFFFFF;
            bottom: -7px;
            left: 20px;
            border-bottom: 1px solid var(--color-border-muted);
            border-right: 1px solid var(--color-border-muted);
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            }
        }

      &:hover {
        & > .info{
          display: block;
        }
      }
    }

    & > *:not(:last-child) {
      margin-right:4px;
    }

  }
}


img {
  width: 100%;
  height: 100%;
}