<div>
  <ng-container
    *ngIf="reposLoadError$ | async as reposLoadError; else noRepoLoadErrorTmpl"
  >
    <sd-error-block
      >An error occured while loading repositories.</sd-error-block
    >
  </ng-container>

  <ng-template #noRepoLoadErrorTmpl>
    <app-repos-filters
      [state]="(filterState$ | async)!"
      [resultCount]="resultCount$ | async"
      [hasActiveFilters]="hasActiveFilters$ | async"
      [isQueryActive]="isQueryActive$ | async"
      [isTypeActive]="isTypeActive$ | async"
      [isLanguageActive]="isLanguageActive$ | async"
      (search)="search($event)"
      (setType)="setType($event)"
      (setLanguage)="setLanguage($event)"
      (setLanguages)="setLanguages($event)"
      (setSort)="setSort($event)"
      (setQuery)="setQuery($event)"
      (clearFilters)="clearFilters()"
    ></app-repos-filters>

    <app-profile-repo-list [items]="userRepos$ | async"></app-profile-repo-list>

    <app-pagination
      *ngIf="
        (pageInfo$ | async)?.hasPreviousPage || (pageInfo$ | async)?.hasNextPage
      "
      [pageInfo]="(pageInfo$ | async)!"
      (changePage)="changePage($event)"
    ></app-pagination>
  </ng-template>
</div>
