<ul class="filter-dropdown-container">
  <div>
    <button
      role="button"
      class="filterButton"
      (click)="toggleMenu()"
      [attr.data-testid]="'filters dropdown ' + name"
    >
      {{ name }}
      <ng-icon
        name="heroChevron-down"
        class="menuButtonIcon"
        aria-hidden="true"
      ></ng-icon>
    </button>
  </div>

  <div @openClose *ngIf="isOpen" class="menu" data-testid="filterDropdown">
    <div *ngIf="description">
      <div class="menuHeader">
        <div class="description">{{ description }}</div>
        <button class="flex" (click)="handleClearFilterClick()">
          <ng-icon
            name="heroXMark"
            class="mr-2 h-4 w-4 text-gray-600"
            aria-hidden="true"
          ></ng-icon>
        </button>
      </div>
      <ng-container *ngFor="let item of items">
        <button
          type="button"
          class="itemButton"
          (click)="handleSetFilterClick(item.value)"
          [attr.data-testid]="'filters dropdown item ' + item.label"
        >
          <ng-icon
            *ngIf="item.value === current"
            name="heroCheck"
            class="itemActiveIcon align-middle"
            aria-hidden="true"
          ></ng-icon>
          {{ item.label }}
        </button>
      </ng-container>
    </div>
  </div>
</ul>
