/* **************************** */
/* Reset                        */
/* **************************** */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
picture,
figure {
  margin: 0;
}

/* Set up Body */

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* set up images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* form elements */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animation for those who don't want */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* **************************** */
/* Utility Classes              */
/* **************************** */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem)
}

.wrapper {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 60rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

 :root {
   --primary-color: #0d1117;
   --secondary-color: #7263ca;
   --tertiary-color: #161b22;
   --color-text-primary: #24292e;
   --color-text-seconday: #586069;
   --color-primer-border-contrast: rgba(27, 31, 36, 0.1);
   --color-border: #eaecef;
   --color-fg-muted: #57606a;
   --color-accent-fg: #0969da;
   --color-accent-subtle: #ddf4ff;
   --color-btn-text: #24292f;
   --color-btn-bg: #f6f8fa;
   --color-avatar-border: rgba(27, 31, 36, 0.15);
   --color-btn-border: rgba(27, 31, 36, 0.15);
   --color-topic-tag-border: rgba(0, 0, 0, 0);
   --color-border-muted: hsla(210, 18%, 87%, 1);
   --shadow-small: 0 1px 0 rgba(27, 31, 35, 0.04);
   --font-family: -apple-system,
     BlinkMacSystemFont,
     Segoe UI,
     Helvetica,
     Arial,
     sans-serif,
     Apple Color Emoji,
     Segoe UI Emoji;
 }

 .btn-sm {
   padding: 3px 12px;
   font-size: 12px;
   line-height: 20px;
 }

 .btn {
   display: inline-block;
   padding: 5px 16px;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   -webkit-user-select: none;
   user-select: none;
   border: 1px solid;
   border-radius: 6px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
 }

 .starSvg {
   color: var(--color-fg-muted);
   display: inline-block;
   overflow: visible !important;
   vertical-align: text-bottom;
   fill: currentColor;
 }

 .git-btn {
   color: var(--color-btn-text);
   background-color: var(--color-btn-bg);
   border: 1px solid;
   border-color: var(--color-btn-border);
   border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
 }
 .divider {
   border-bottom: 1px solid var(--color-border-muted);
   width: 100%;
 }