@use '../shared/styles/variables';

.page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: variables.$black;
  color: variables.$gray500;
}

.form {
  width: 90%;
  height: 90%;
  display: grid;
  place-items: center;
}

.button {
  width: 34%;
  padding: 1rem;
  border: 1px solid variables.$gray500;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 100%;
  background: variables.$black;
  color: variables.$gray500;
  cursor: pointer;

  &:hover {
    background: variables.$gray500;
    color: variables.$black;
  }
}
