@use 'variables';
@use 'functions';

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: variables.$black;
  color: variables.$gray500;
}

.form {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.button {
  width: 34%;
  padding: variables.$padding--l;
  border: 1px solid variables.$gray500;
  border-radius: functions.rem(5);
  font-weight: 500;
  font-size: 100%;
  background: variables.$black;
  color: variables.$gray500;
  cursor: pointer;

  &:hover {
    background: variables.$gray500;
    color: variables.$black;
  }
}

.netlify-badge-container {
  position: fixed;
  bottom: variables.$padding--l;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
