<div class="page">
  <form class="form" [formGroup]="signInGroup" (ngSubmit)="onSubmit()">
    <input type="hidden" class="input" formControlName="csrfToken" />
    <input type="hidden" class="input" formControlName="callbackUrl" />
    <button type="submit" class="button">Sign in with GitHub</button>
  </form>

  <div class="netlify-badge-container">
    <a target="_blank" href="https://www.netlify.com">
      <img
        src="https://www.netlify.com/v3/img/components/netlify-light.svg"
        alt="Deploys by Netlify"
      />
    </a>
  </div>
</div>
