@use '../../../shared/styles/variables';

.filters-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  background-color: variables.$gray100;

  @media (min-width: variables.$md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .pull-requests-status {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 1rem;
    color: variables.$gray600;

    .tab-button {
      color: inherit;
      display: flex;
      border: none;
      align-items: center;
      cursor: pointer;
      background: inherit;

      .icon {
        margin-right: 0.375rem;
      }

      &.active {
        color: variables.$gray900;
      }
    }
  }

  .pull-requests-filters {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    @media (max-width: variables.$md) {
      margin-top: 0.875rem;
    }
  }
}
