@use 'variables';
@use 'functions';

.filters-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: variables.$padding--l;
  background-color: variables.$gray100;
  margin-top: functions.rem(14);
  border-top-left-radius: variables.$padding;
  border-top-right-radius: variables.$padding;

  @media (min-width: variables.$md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .pull-requests-status {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: variables.$padding--l;
    color: variables.$gray600;

    .tab-button {
      color: inherit;
      display: flex;
      border: none;
      align-items: center;
      cursor: pointer;
      background: inherit;

      .icon {
        margin-right: functions.rem(5);
      }

      &.active {
        color: variables.$gray900;
      }
    }
  }

  .pull-requests-filters {
    display: flex;
    align-items: center;
    gap: functions.rem(12);
    @media (max-width: variables.$md) {
      margin-top: functions.rem(12);
    }
  }
}
