@use '../../../../shared/styles/variables.scss';

.heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__container {
    margin-bottom: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    a {
      font-size: 1.475rem;
      color: variables.$blue600;
      text-decoration: none;
    }

    span {
      color: variables.$gray600;
      font-size: 1.475rem;
    }
  }
}
