@use 'variables';
@use 'functions';

.heading {
  display: flex;
  align-items: center;
  gap: variables.$padding;

  &__breadcrumb {
    margin-bottom: variables.$padding--s;
    display: flex;
    gap: variables.$padding;
    align-items: center;

    a {
      font-size: functions.rem(20);
      color: variables.$blue600;
      text-decoration: none;
    }

    span {
      color: variables.$gray600;
      font-size: functions.rem(20);
    }
  }

  &__privacy {
    border-radius: variables.$padding--l;
    color: variables.$gray600;
    line-height: variables.$padding--l;
    font-weight: 500;
    border: 1px solid variables.$gray300;
    padding: functions.rem(3) functions.rem(10);
    font-size: functions.rem(12);
  }
}
