<div
  class="w-full min-h-[calc(100vh-70px)] flex flex-col-reverse lg:flex-row bg-gray-100"
>
  <aside class="w-full lg:w-96 bg-white p-8">
    <app-user-gists></app-user-gists>
  </aside>
  <main class="max-w-screen-lg w-full">
    <div class="p-12" data-testid="show repo list">
      <h2 class="text-lg font-medium mb-4">Top Repositories</h2>
      <div class="w-full border rounded-lg relative bg-white">
        <ng-container *ngIf="displayItems.length; else noRepos">
          <ng-container *ngFor="let item of displayItems">
            <div class="p-4 border-b">
              <app-repo-list-item
                *ngIf="item; else skeleton"
                [repo]="item"
              ></app-repo-list-item>
              <ng-template #skeleton>
                <app-repo-list-item-skeleton></app-repo-list-item-skeleton>
              </ng-template>
            </div>
          </ng-container>
        </ng-container>
        <div *ngIf="repos?.length" class="bg-gray-50 p-5 w-full text-center">
          <a
            [routerLink]="[login]"
            class="font-semibold text-gray-600 hover:text-blue-500"
            >View all repositories</a
          >
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #noRepos>
  <div class="p-4 flex justify-center items-center">No repositories found</div>
</ng-template>
