<div
  *ngIf="repos.length; else noRepos"
  class="w-full min-h-[calc(100vh-70px)] flex flex-col-reverse lg:flex-row bg-gray-100"
>
  <aside class="w-full lg:w-96 bg-white p-8">
    <app-user-gists></app-user-gists>
  </aside>
  <main class="max-w-screen-lg w-full">
    <div class="p-12">
      <h2 class="text-lg font-medium mb-4">Top Repositories</h2>
      <div class="w-full border rounded-lg relative bg-white">
        <div *ngFor="let repo of repos">
          <div class="p-4 border-b">
            <h3 class="mb-2">
              <a
                data-testid="show repo list"
                [routerLink]="[repo.owner, repo.name]"
                class="text-xl text-blue-600 font-semibold hover:underline mr-3"
                >{{ repo.name }}</a
              >
              <sd-privacy-badge
                [isPrivate]="repo.isPrivate"
                class="relative bottom-0.5"
              ></sd-privacy-badge>
            </h3>
            <div class="text-gray-600 text-sm max-w-prose -mb-1 -mt-1">
              {{ repo.description }}
            </div>
            <app-repo-meta
              [language]="repo.language!"
              [languageColor]="repo.languageColor!"
              [forkCount]="repo.forkCount"
              [stargazerCount]="repo.stargazerCount"
              [updatedAt]="repo.updatedAt"
            ></app-repo-meta>
          </div>
        </div>
        <div class="bg-gray-50 p-5 w-full text-center">
          <a
            [routerLink]="[login]"
            class="font-semibold text-gray-600 hover:text-blue-500"
            >View all repositories</a
          >
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #noRepos>
  <div>No repositories found</div>
</ng-template>
