<ng-container *ngIf="repoPage$ | async as repoPage">
  <div content class="max-w-screen-2xl mx-auto py-8 px-4">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12">
        <app-file-explorer-nav
          [owner]="repoPage.owner"
          [name]="repoPage.name"
          [branch]="repoPage.branch"
          [path]="repoPage.path"
        ></app-file-explorer-nav>
        <app-file-explorer-list-container
          [owner]="repoPage.owner"
          [name]="repoPage.name"
          [branch]="repoPage.branch"
          [path]="repoPage.path"
        ></app-file-explorer-list-container>
      </div>
    </div>
  </div>
</ng-container>

<!-- <div error>Error: {{ repoPage.error?.message }}</div> -->
