@use 'variables';
@use 'functions';

$color-open: variables.$green100;
$color-closed: variables.$purple100;

.item {
  padding: functions.rem(16);
  border-bottom: 1px solid variables.$gray200;

  &:hover {
    background-color: variables.$gray100;
  }
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .info {
    display: flex;
  }

  .comments {
    display: flex;
    flex-direction: column;
  }
}

.icon {
  margin-right: variables.$padding;

  &.open {
    color: $color-open;
  }

  &.closed {
    color: $color-closed;
  }
}

.content {
  .title {
    font-size: functions.rem(16);
    font-weight: 600;
    margin-right: variables.$padding--s;

    &:hover {
      color: variables.$blue300;
    }
  }

  .label {
    font-weight: 500;
    font-size: functions.rem(12);
    margin: 0 functions.rem(5);
    padding: functions.rem(2) variables.$padding;
    cursor: pointer;
    border-radius: functions.rem(12);
  }
}

.meta {
  line-height: functions.rem(12);
  font-size: functions.rem(12);
  margin-top: functions.rem(5);
  color: variables.$gray600;

  .created-by {
    cursor: pointer;

    &:hover {
      color: variables.$blue300;
    }
  }
}
