<ul class="filter-dropdown-container">
  <div>
    <button role="button" class="control-dropdown" (click)="toggleMenu()">
      <span class="control-dropdown__name">{{ name }}</span>
      <span
        class="control-dropdown__caret"
        appOcticon="chevron-down"
        size="14"
      ></span>
    </button>
  </div>

  <div @openClose *ngIf="isOpen" class="menu" data-testid="filterDropdown">
    <div *ngIf="description">
      <div class="menu__header">
        <div class="menu__header__description">{{ description }}</div>
        <span
          (click)="handleClearFilterClick()"
          class="menu__header__icon"
          appOcticon="x"
          size="14"
        ></span>
      </div>
      <ng-container *ngFor="let item of items">
        <button
          type="button"
          class="menu__item-button"
          (click)="handleSetFilterClick(item.value)"
        >
          <span
            *ngIf="item.value === current"
            class="menu__item-icon"
            appOcticon="check"
            size="14"
          ></span>
          <span>{{ item.label }}</span>
        </button>
      </ng-container>
    </div>
  </div>
</ul>
