@use 'variables';
@use 'functions';

.filter-dropdown-container {
  margin: 0;
  padding: 0;
  position: relative;

  .control-dropdown {
    display: inline-flex;
    align-items: center;
    border-radius: functions.rem(5);
    border: 1px solid variables.$gray100;
    background-color: variables.$gray100;
    padding: variables.$padding functions.rem(18);
    line-height: functions.rem(18);
    color: variables.$gray600;
    font-size: variables.$padding--l;

    &--repo {
      padding: 0;
    }

    &__name {
      font-weight: 500;
    }

    &__caret {
      margin-left: 0.375em;
    }
  }

  .menu {
    position: absolute;
    right: 0;
    margin-top: variables.$padding;
    background-color: #ffffff;
    transform-origin: top right;
    width: functions.rem(250);
    border-radius: functions.rem(5);
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__description {
        padding: functions.rem(9) variables.$padding--l;
        font-size: functions.rem(11);
        line-height: variables.$padding--l;
        font-weight: 600;
      }

      &__icon {
        cursor: pointer;
        position: absolute;
        right: variables.$padding--l;
        display: inline;
      }
    }

    &__item-button {
      cursor: pointer;
      border: none;
      background-color: variables.$white;
      position: relative;
      padding: variables.$padding functions.rem(35);
      font-size: functions.rem(12);
      line-height: variables.$padding--l;
      text-align: left;
      text-transform: capitalize;
      width: 100%;
      border-top: 1px solid #d1d5db;

      &:hover {
        background-color: #f3f4f6;
      }
    }

    &__item-icon {
      position: absolute;
      left: variables.$padding--l;
      display: inline;
    }
  }
}
