node_modules

/server/index.js
/public/build
preferences.arc
sam.json
sam.yaml
.env
/storybook-static

/cypress/screenshots
/cypress/videos

/app/styles/tailwind.css
/.cache
/build
.vscode
/app/styles/*.css
/server/index.js.map
/.netlify
