<div class="container">
  <nav class="nav" aria-label="Tabs">
    <div>
      <a
        [routerLink]="[basePath, 'code']"
        routerLinkActive="tabActive"
        class="tabInactive tab"
        [ngClass]="{ tabActive: !issuesLink.isActive && !prLink.isActive }"
        #codeLink="routerLinkActive"
      >
        <hero-icon
          name="code"
          type="outline"
          class="iconInactive icon"
          [ngClass]="{ iconActive: codeLink.isActive }"
        ></hero-icon>
        <span>Code</span>
      </a>
    </div>
    <div>
      <a
        [routerLink]="[basePath, 'issues']"
        routerLinkActive="tabActive"
        class="tabInactive tab"
        #issuesLink="routerLinkActive"
      >
        <hero-icon
          name="information-circle"
          type="outline"
          class="iconInactive icon"
          [ngClass]="{ iconActive: issuesLink.isActive }"
        ></hero-icon>
        <span>Issues</span>
      </a>
    </div>
    <div>
      <a
        [routerLink]="[basePath, 'pull-requests']"
        routerLinkActive="tabActive"
        class="tabInactive tab"
        #prLink="routerLinkActive"
      >
        <app-pull-request-icon
          class="iconInactive icon"
          [ngClass]="{ iconActive: prLink.isActive }"
        ></app-pull-request-icon>
        <span>Pull Requests</span>
      </a>
    </div>
  </nav>
</div>
