@use 'variables';
@use 'functions';

.paginator-container {
  margin: functions.rem(28) 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    cursor: pointer;
    display: inline-flex;
    position: relative;
    padding: variables.$padding--s variables.$padding--l;
    background-color: variables.$gray100;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: variables.$blue300;
    font-size: variables.$padding--l;
    line-height: functions.rem(21);
    font-weight: 600;
    border: 1px solid variables.$gray200;

    &:first-child {
      border-top-left-radius: functions.rem(5);
      border-bottom-left-radius: functions.rem(5);
      border-right: 0;
    }
    &:last-child {
      border-top-right-radius: functions.rem(5);
      border-bottom-right-radius: functions.rem(5);
      border-left: 0;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: variables.$gray200;
      color: variables.$gray400;
      border-color: variables.$gray200;
    }
  }
}
