<div class="container">
  <nav class="nav" aria-label="Tabs">
    <ul>
      <li>
        <a
          [routerLink]="[basePath, 'code']"
          routerLinkActive="active-tab"
          class="active-tab tab"
          [ngClass]="{ 'active-tab': !issuesLink.isActive && !prLink.isActive }"
          #codeLink="routerLinkActive"
        >
          <span class="icon" appOcticon="code"></span>
          <span>Code</span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="[basePath, 'issues']"
          routerLinkActive="active-tab"
          class="inactive-tab tab"
          #issuesLink="routerLinkActive"
        >
          <span class="icon" appOcticon="issue-opened"></span>
          <span>Issues</span>
          <span class="count">
            {{ issuesCount }}
          </span>
        </a>
      </li>
      <li>
        <a
          [routerLink]="[basePath, 'pull-requests']"
          routerLinkActive="active-tab"
          class="inactive-tab tab"
          #prLink="routerLinkActive"
        >
          <span class="icon" appOcticon="git-pull-request"></span>
          <span>Pull Requests</span>
          <span class="count">
            {{ pullsCount }}
          </span>
        </a>
      </li>
    </ul>
  </nav>
</div>
