@use '../../../../shared/styles/variables.scss';

.container {
  max-width: 1536px;
  margin: 0 auto 0 0;
  nav {
    margin-bottom: -1px;
    display: flex;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-size: 1rem;
        padding: 16px;
        color: variables.$gray600;
        &.tab {
          &--active {
            border-bottom: 2px solid rgba(245, 158, 11, 1);

            span {
              font-weight: 600;
              color: black;

              &.icon {
                color: variables.$gray600;
              }
            }
          }
        }
        &:hover {
          border-bottom: 2px solid variables.$gray300;
        }
        .count {
          display: inline-block;
          text-align: center;
          padding: 0.125rem 0.5rem;
          margin-left: 0.5rem;
          background-color: #e5e7eb;
          color: #1f2937;
          font-size: 0.875rem;
          line-height: 1.125rem;
          font-weight: 500;
          border-radius: 0.875rem;
        }
      }

      span {
        line-height: 1.175rem;
      }

      li {
        display: inline-block;
        font-weight: 500;
      }
    }

    .icon {
      display: inline-block;
      margin-right: 0.5rem;
    }
  }
}
