<div class="container" *ngIf="hasFilters$ | async">
  <app-clear-filters-button (clearFilters)="clearFilters()"
    >Clear current search query, filters, and sorts</app-clear-filters-button
  >
</div>

<div class="filters-container">
  <div class="issue-status">
    <button [ngClass]="{ active: viewState === 'open' }" (click)="selectOpen()">
      <span class="icon" appOcticon="check" size="16"></span
      ><span>{{ openIssues?.total ?? 0 }} Open</span>
    </button>
    <button
      [ngClass]="{ active: viewState === 'closed' }"
      (click)="selectClosed()"
    >
      <span class="icon" appOcticon="no-entry" size="16"></span>
      <span>{{ closedIssues?.total ?? 0 }} Closed</span>
    </button>
  </div>
  <div class="issue-filters">
    <app-filter-dropdown
      name="Label"
      description="Select label"
      [isRepo]="true"
      [items]="(labels$ | async) || []"
      [toggle]="true"
      (setFilter)="setLabel($event)"
      [current]="filterParams.labels"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Milestones"
      description="Select milestone"
      [isRepo]="true"
      [items]="(milestones$ | async) || []"
      (setFilter)="setMilestone($event)"
      [current]="filterParams.milestone"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Sort"
      description="Select sort"
      [isRepo]="true"
      [items]="sortOptions"
      (setFilter)="setSort($event)"
      [current]="filterParams.sort"
    ></app-filter-dropdown>
  </div>
</div>
