@use 'variables';
@use 'functions';

.filters-container {
  display: flex;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
  padding: variables.$padding--l;
  background-color: variables.$gray100;

  @media (min-width: variables.$md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .issue-status {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: variables.$padding--l;
    color: variables.$gray600;

    a {
      color: inherit;

      .icon {
        margin-right: functions.rem(5);
      }

      &.active {
        color: variables.$gray900;
      }
    }
  }

  .issue-filters {
    display: flex;
    align-items: center;
    gap: functions.rem(12);
    @media (max-width: variables.$md) {
      margin-top: functions.rem(12);
    }
  }
}
