<div class="filters-container">
  <div class="issue-status">
    <button [ngClass]="{ active: viewState === 'open' }" (click)="selectOpen()">
      <span class="icon" appOcticon="check" size="16"></span
      ><span>{{ openIssues?.total ?? 0 }} Open</span>
    </button>
    <button
      [ngClass]="{ active: viewState === 'closed' }"
      (click)="selectClosed()"
    >
      <span class="icon" appOcticon="no-entry" size="16"></span>
      <span>{{ closedIssues?.total ?? 0 }} Closed</span>
    </button>
  </div>
  <div class="issue-filters">
    <app-filter-dropdown
      name="Label"
      description="Select label"
      [isRepo]="true"
      [items]="(labels$ | async) || []"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Milestones"
      description="Select milestone"
      [isRepo]="true"
      [items]="(milestones$ | async) || []"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Sort"
      description="Select sort"
      [isRepo]="true"
    ></app-filter-dropdown>
  </div>
</div>
