@use 'variables';
@use 'functions';

nav {
  height: 100%;
  display: grid;
  background: variables.$gray900;
}

ul {
  list-style: none;
  margin: 0;
  padding: variables.$padding--l functions.rem(28);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: variables.$padding--l;
}

.dropdown {
  position: relative;

  .dropdown-title {
    background-color: transparent;
    border: none;
    font-family: inherit;
    display: flex;
    align-items: center;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;
    width: functions.rem(196);
    background-color: variables.$white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: functions.rem(5);
    margin-top: variables.$padding;
    padding: variables.$padding--s 0;
    transform-origin: top right;
    z-index: 10;

    a {
      color: variables.$gray900;
      font-weight: 500;
      padding: variables.$padding variables.$padding--l;
      display: block;
      text-decoration: none;

      &:hover {
        color: variables.$blue600;
      }
    }
  }
}
