@use '../../shared/styles/variables';

nav {
  height: 100%;
  display: grid;
  background: variables.$gray900;
}

ul {
  list-style: none;
  margin: 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 1rem;
}

.dropdown {
  position: relative;

  .dropdown-title {
    background-color: transparent;
    border: none;
    font-family: inherit;
    display: flex;
    align-items: center;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 0;
    width: 14rem;
    background-color: variables.$white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.375rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0;
    transform-origin: top right;

    a {
      color: variables.$gray900;
      font-weight: 500;
      padding: 0.5rem 1rem;
      display: block;
      text-decoration: none;

      &:hover {
        color: variables.$blue600;
      }
    }
  }
}
