<nav aria-label="Main Navigation">
  <ul>
    <li>
      <a routerLink="/" appOcticon="mark-github" size="32" color="white"></a>
    </li>
    <li class="dropdown">
      <button
        type="button"
        class="dropdown-title"
        [attr.aria-expanded]="dropdownMenuIsOpen"
        aria-controls="nav-dropdown"
        (click)="toggleMenu()"
      >
        <img src="{{ userAvatar$ | async }}" />
        <span appOcticon="chevron-down" color="white" size="20"></span>
      </button>
      <ul
        @openClose
        *ngIf="dropdownMenuIsOpen"
        class="dropdown-menu"
        id="nav-dropdown"
      >
        <li>
          <a routerLink="/{{ username$ | async }}" (click)="closeDropdown()"
            >Profile</a
          >
        </li>
        <li><a href="#" (click)="closeDropdown()">Sign out</a></li>
      </ul>
    </li>
  </ul>
</nav>
