<ng-container *ngIf="userName$ | async as user">
  <!-- max-w-screen-xl causing issues/not working like react version
  removing will make it similar -->
  <main class="mx-auto">
    <!-- TODO: remove this -->
    <!-- <app-welcome-user [name]="user.name"></app-welcome-user> -->
    <app-repo-list
      *ngIf="repos$ | async as repos; else loading"
      [repos]="repos"
      [login]="user.login"
    ></app-repo-list>

    <ng-template #loading>
      <app-loading-pulse-dots></app-loading-pulse-dots>
    </ng-template>
  </main>
</ng-container>
