@use 'functions';

// colors
$white: rgb(255, 255, 255);
$gray50: rgb(249, 250, 251);
$gray100: rgb(243, 244, 246);
$gray200: rgb(229, 231, 235);
$gray300: rgb(209, 213, 219);
$gray400: rgb(156, 163, 175);
$gray500: rgb(107, 114, 128);
$gray600: rgb(75, 85, 99);
$gray700: rgb(55, 65, 81);
$gray800: rgb(31, 41, 55);
$gray900: rgb(17, 24, 39);
$black: rgb(0 0 0);
$blue100: rgb(219, 234, 254);
$blue300: rgb(59, 130, 246);
$blue400: rgb(96, 165, 250);
$blue500: rgb(59, 130, 246);
$blue600: rgb(37 99 235);
$green100: rgb(5, 150, 105);
$green600: rgb(5, 150, 105);
$purple100: rgb(124, 58, 237);
$purple600: rgb(124, 58, 237);

@apply text-purple-600;

@apply text-green-600;

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// spacing
$padding: functions.rem(8);
$padding--s: functions.rem(4);
$padding--l: functions.rem(14);
