// colors
$white: rgb(255 255 255);
$gray100: rgb(243 244 246);
$gray200: rgb(229, 231, 235);
$gray300: rgb(209, 213, 219);
$gray400: rgb(156, 163, 175);
$gray500: rgb(107, 114, 128);
$gray600: rgb(75, 85, 99);
$gray700: rgb(55, 65, 81);
$gray800: rgb(31, 41, 55);
$gray900: rgb(17, 24, 39);
$black: rgb(0 0 0);
$blue300: rgb(59, 130, 246);
$blue600: rgb(37 99 235);

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
