// colors
$white: rgb(255 255 255);
$gray100: rgb(243 244 246);
$gray300: rgb(229,231,235);
$gray500: rgb(107 114 128);
$gray900: rgb(17, 24, 39);
$black: rgb(0 0 0);
$blue300: rgb(59,130,246);
$blue600: rgb(37 99 235);

// breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
