<div class="container">
  <h3 class="heading">About</h3>
  <div class="description">
    <ng-container *ngIf="isLoaded; else loading">
      <app-description [description]="description"></app-description>
      <app-home-page-url [homepageUrl]="homepageUrl"></app-home-page-url>
      <app-topics [topics]="topics"></app-topics>
    </ng-container>

    <ng-template #loading>
      <sd-loading-text-line></sd-loading-text-line>
    </ng-template>
  </div>
  <div>
    <a class="readmeLink">
      <ng-icon
        name="heroBook-open"
        class="readmeIcon align-middle"
        strokeWidth="2"
        size="1.25rem"
      ></ng-icon>
      Readme
    </a>
  </div>
</div>
