@use 'variables';
@use 'functions';

.file-explorer-container {
  display: flex;
  margin-top: functions.rem(21);
  margin-bottom: functions.rem(21);
  align-items: center;
}

.btn {
  display: inline-flex;
  position: relative;
  padding: variables.$padding--s variables.$padding--l;
  background-color: variables.$gray50;
  color: variables.$gray700;
  font-weight: 500;
  align-items: center;
  border-radius: functions.rem(5);
  border-width: 1px;
  border-color: variables.$gray300;

  :hover {
    background-color: variables.$gray200;
    --bg-opacity: 0.5;
  }
}

.btnIcon {
  margin-right: variables.$padding--s;
  color: variables.$gray600;
  width: functions.rem(18);
  height: functions.rem(18);
}

.btnCaret {
  font-size: 10px;
  margin-top: functions.rem(2);
  margin-left: functions.rem(5);
  color: variables.$gray600;
}

.separator {
  margin-left: functions.rem(5);
  margin-right: functions.rem(5);
  color: variables.$gray800;
  font-size: functions.rem(16);
  line-height: 1.375;
}

.rootLink {
  color: variables.$blue600;
  font-weight: 600;

  :hover {
    text-decoration: underline;
  }
}

.crumbs {
  display: flex;
  padding-left: functions.rem(11);
  padding-right: functions.rem(11);
}

.crumbLink {
  color: variables.$blue600;

  :hover {
    text-decoration: underline;
  }
}

.crumbEnd {
  font-weight: 600;
}
