<div *ngFor="let item of items" class="cell">
  <div class="flex items-center">
    <div class="mr-2.5">
      <ng-container *ngIf="item.type === 'tree'; else file">
        <sd-folder-icon class="iconDir"></sd-folder-icon>
      </ng-container>
      <ng-template #file>
        <sd-document-icon class="iconFile"></sd-document-icon>
      </ng-template>
    </div>
    <a
      [routerLink]="getPathHref(item)"
      class="link"
      [attr.data-testid]="'file explorer list ' + item.name"
      >{{ item.name }}</a
    >
  </div>
</div>
