@use '../../../shared/styles/variables';

:host {
  border: 1px solid variables.$gray100;
  display: block;
}

.table-row {
  display: table-row;
}

.codeBlock {
  border-spacing: 5px;
  background-color: variables.$white;
  overflow: auto;
  padding: 0.25rem 2rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
}

.lineNumber {
  display: table-cell;
  padding-right: 1rem;
  color: variables.$gray500;
  text-align: right;
  user-select: none;
}
