@use 'variables';
@use 'functions';

:host {
  border: 1px solid variables.$gray100;
  display: block;
}

.table-row {
  display: table-row;
}

.codeBlock {
  border-spacing: 5px;
  background-color: variables.$white;
  overflow: auto;
  padding: variables.$padding--s functions.rem(28);
  font-size: functions.rem(11);
  line-height: variables.$padding--l;
  text-align: left;
}

.lineNumber {
  display: table-cell;
  padding-right: variables.$padding--l;
  color: variables.$gray500;
  text-align: right;
  user-select: none;
}
