<div class="repos-filters-container">
  <div class="grow">
    <input
      role="search"
      type="search"
      name="search"
      [formControl]="searchInput"
      id="search"
      class="searchInput"
      placeholder="Find a repository.."
      data-testid="repository filters search input"
    />
  </div>
  <div class="filters">
    <div>
      <app-repos-filter-dropdown
        name="Type"
        description="Select type"
        [current]="state.type"
        [items]="typeFilters"
        (setFilter)="handleTypeClick($event)"
      ></app-repos-filter-dropdown>
    </div>
    <div>
      <app-repos-filter-dropdown
        name="Language"
        description="Select language"
        [current]="state.language"
        [items]="state.languages"
        (setFilter)="handleLanguageClick($event)"
      ></app-repos-filter-dropdown>
    </div>
    <div>
      <app-repos-filter-dropdown
        name="Sort"
        description="Select order"
        [current]="state.sort.field"
        [items]="sortItems"
        (setFilter)="handleSortClick($event)"
      ></app-repos-filter-dropdown>
    </div>
  </div>
</div>
<div *ngIf="hasActiveFilters" class="filtersDetail">
  <div class="text-sm">
    <span class="font-semibold" data-testid="filterText">
      {{ resultCount }}
    </span>
    results for
    <span *ngIf="isTypeActive" class="font-semibold">{{ state.type }}</span>
    repositories
    <ng-container *ngIf="isQueryActive">
      matching <span class="font-semibold">{{ state.query }}</span>
    </ng-container>
    <ng-container *ngIf="isLanguageActive">
      written in
      <span class="font-semibold capitalize">
        {{ state.language }}
      </span>
    </ng-container>
    sorted by
    <span class="font-semibold">
      {{ state.sort.field.split('_').join(' ') | lowercase }}
    </span>
  </div>
  <div>
    <button (click)="handleClearFiltersClick()" class="clearBtn group">
      <span class="clearBtnIconContainer group-hover:bg-blue-500">
        <hero-icon
          name="x"
          type="outline"
          class="clearBtnIcon"
          aria-hidden="true"
        ></hero-icon>
      </span>
      <span class="clearBtnText group-hover:text-blue-500"> Clear filter </span>
    </button>
  </div>
</div>
