@use 'variables';
@use 'functions';

:host {
  display: grid;
  grid-template-columns: 1fr;
  background: variables.$gray100;
  @media (min-width: variables.$md) {
    grid-template-columns: functions.rem(340) 1fr;
  }
}

aside {
  background: variables.$white;
  padding: functions.rem(28);
  @media (max-width: variables.$md) {
    order: 2;
  }
}

.top-repositories-container {
  padding: functions.rem(21);
  @media (min-width: variables.$md) {
    padding: functions.rem(42);
  }

  h2 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .repo-container {
    background-color: variables.$white;
    border-radius: variables.$padding;
    border-width: 1px;
  }

  .repo-section {
    padding: variables.$padding--l;
    border-bottom: 1px solid variables.$gray300;
    @media (min-width: variables.$md) {
      padding: functions.rem(28) 0 functions.rem(28) functions.rem(28);
    }
  }

  .view-all-link {
    padding: functions.rem(18);
    background-color: variables.$gray200;
    display: grid;
    place-items: center;

    a {
      color: inherit;
      font-weight: 600;

      &.disabled {
        color: variables.$gray300;
        cursor: not-allowed;
      }
    }
  }
}
