<div class="paginator-container">
  <span class="group">
    <button
      type="button"
      [disabled]="!pageInfo?.hasPreviousPage"
      (click)="handlePreviousPageClick()"
      class="button"
      data-testid="pagination button previous"
    >
      Previous
    </button>
    <button
      type="button right"
      [disabled]="!pageInfo?.hasNextPage"
      (click)="handleNextPageClick()"
      class="button"
      data-testid="pagination button next"
    >
      Next
    </button>
  </span>
</div>
