<div class="paginator-container">
  <span class="group">
    <button
      type="button"
      [disabled]="!pageInfo?.hasPreviousPage"
      (click)="handlePreviousPageClick()"
      class="button"
    >
      <!-- <hero-icon
        name="chevron-left"
        type="outline"
        class="w-4 h-4 inline mr-1.5"
        aria-hidden="true"
      ></hero-icon> -->
      Previous
    </button>
    <button
      type="button right"
      [disabled]="!pageInfo?.hasNextPage"
      (click)="handleNextPageClick()"
      class="button"
    >
      Next
      <!-- <hero-icon
        name="chevron-right"
        type="outline"
        class="w-4 h-4 inline ml-1.5"
        aria-hidden="true"
      ></hero-icon> -->
    </button>
  </span>
</div>
