<div class="absolute bg-black text-gray-500 w-full h-full m-0 p-0 table">
  <div class="table-cell align-middle text-center p-2">
    <div class="p-64 block mx-auto mb-2">
      <form
        class="p-64 block mx-auto mb-2"
        [formGroup]="signinGroup"
        (ngSubmit)="onSubmit()"
      >
        <input
          type="hidden"
          class="
            box-border
            w-full
            block
            mb-2
            px-4
            py-3
            border border-solid border-gray-500
            rounded-md
            bg-black
            text-base text-white
          "
          formControlName="csrfToken"
        />
        <input
          type="hidden"
          class="
            box-border
            w-full
            block
            mb-2
            px-4
            py-3
            border border-solid border-gray-500
            rounded-md
            bg-black
            text-base text-white
          "
          formControlName="callbackUrl"
        />
        <button
          type="submit"
          class="
            w-full
            mb-3
            px-4
            py-3
            border border-solid border-gray-500
            rounded-md
            font-medium
            relative
          "
        >
          Sign in with GitHub
        </button>
      </form>
    </div>
  </div>
</div>
