<ng-container *ngIf="repo$ | async as repo">
  <div class="container grid grid-cols-12 subpage">
    <section class="col-span-9 col-sm-span-12">
      <app-file-explorer-nav
        [owner]="repo.ownerName"
        [name]="repo.repoName"
        [branch]="repo.activeBranch"
        [path]="repo.path"
        [showCrumbs]="!!repo.path"
      ></app-file-explorer-nav>

      <app-file-explorer-container
        [repoPage]="repo.tree"
        [branch]="repo.activeBranch"
        [owner]="repo.ownerName"
        [name]="repo.repoName"
      ></app-file-explorer-container>
    </section>

    <section class="col-span-3 col-sm-span-12">
      <app-file-explorer-about
        [description]="repo.description"
        [homepageUrl]="repo.website"
        [topics]="repo.tags"
      ></app-file-explorer-about>
    </section>

    <section class="col-span-9">
      <app-read-me [readme]="repo.readme"></app-read-me>
    </section>
  </div>
</ng-container>
