<div class="container pull-requests-container">
  <app-pull-requests-header
    [openPullRequests]="openPullRequests$ | async"
    [closedPullRequests]="closedPullRequests$ | async"
    [viewState]="viewState"
    (viewStateChange)="viewStateChange($event)"
    [owner]="owner"
    [repoName]="repoName"
  ></app-pull-requests-header>
  <app-pull-requests-list
    [pullRequests]="
      viewState === 'open'
        ? (openPullRequests$ | async)
        : (closedPullRequests$ | async)
    "
  ></app-pull-requests-list>
</div>
<app-pagination
  [params]="
    viewState === 'open'
      ? (openPullRequestsPaginationParams$ | async)
      : (closedPullRequestsPaginationParams$ | async)
  "
  (pageChange)="pageChange($event)"
></app-pagination>
