<ng-container *ngIf="isLoading">
  <div class="py-8 border-t border-b">
    <h3 class="font-semibold">Gists</h3>
    <div class="mt-3">
      <!-- {Array.from({ length: 3 }).map((_, i) => (
            <LoadingTextLine key={i} class="my-1" />
          ))} -->
    </div>
  </div>
</ng-container>

<ng-container *ngIf="error || !data">
  <div class="py-8 border-t border-b">
    <h3 class="font-semibold">Gists</h3>
    <p class="text-sm text-gray-600 font-medium">
      Error: Failed to load user gists
    </p>
  </div>
</ng-container>

<div class="py-8 border-t border-b">
  <h3 class="font-semibold">Gists</h3>
  <div class="mt-3">
    <!-- {gists.map((gist) => (
        <div key={gist.id} class="my-1">
          <Link href={gist.url}>
            <a class="text-sm hover:text-blue-500 hover:underline" target="_blank">
              {gist.name}
            </a>
          </Link>
        </div>
      ))} -->
  </div>
</div>
