<ng-container *ngIf="gists$ | async as gists; else loading">
  <sd-container title="Gists">
    <ng-template *ngIf="gists.length === 0">
      <p>User does not have any gists</p>
    </ng-template>

    <ng-container *ngIf="!!gists.length; else error">
      <div class="mt-3">
        <div
          data-testid="show gists list"
          class="my-1"
          *ngFor="let gist of gists"
        >
          <a [href]="gist?.url" class="link" target="_blank">
            {{ gist?.files?.[0]?.name || gist?.name }}
          </a>
        </div>
      </div>
    </ng-container>

    <ng-template #error>
      <p class="error">Error: Failed to load user gists</p>
    </ng-template>
  </sd-container>
</ng-container>
<!-- loading -->
<ng-template #loading>
  <sd-container title="Gists">
    <div class="mt-3">
      <sd-loading-text-line class="my-1"></sd-loading-text-line>
      <sd-loading-text-line class="my-1"></sd-loading-text-line>
      <sd-loading-text-line class="my-1"></sd-loading-text-line>
    </div>
  </sd-container>
</ng-template>
