// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #4078c0;
$secondary: #f5f5f5;
$accent: #6e5494;

$dark: #333;

$positive: #6cc644;
$negative: #bd2c00;
$info: #719fdb;
$warning: #c9510c;

$shadow-color: #000;
$elevation-umbra: rgba($shadow-color, 0.15);
$elevation-penumbra: rgba($shadow-color, 0.1);
$elevation-ambient: rgba($shadow-color, 0.05);

 $color-border-default: #d0d7de;
 $color-fg-muted: #57606a;
 $color-accent-fg: #0969da;

@import '~quasar-variables-styl';
