<nav class="container">
  <button class="btn">
    <app-git-branch-icon class="btnIcon"></app-git-branch-icon>
    {{ branch }}
    <span class="btnCaret">&#9660;</span>
  </button>
  <div *ngIf="crumbs.length" class="crumbs">
    <a [routerLink]="basePath" class="rootLink">{{ name }}</a>
    <span class="separator">/</span>
    <div *ngFor="let crumb of crumbs; let i = index">
      <ng-container *ngIf="i === crumbs.length - 1; else hasCrumb">
        <span class="crumbEnd">{{ crumb }}</span>
      </ng-container>

      <ng-template #hasCrumb>
        <a [routerLink]="getHref(i)" class="crumbLink">{{ crumb }}</a>
        <span class="separator">/</span>
      </ng-template>
    </div>
  </div>
</nav>
