@use '../shared/styles/variables';

.page {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 30% 1fr;
  width: 100%;
  height: 100vh;
}

.nav {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background: variables.$gray100;
}

aside {
  background: variables.$white;
  padding: 2rem;
}
