<section>
  <div class="controls">
    <input
      id="searchInput"
      aria-label="Search repository"
      type="search"
      placeholder="Find a repository..."
      [formControl]="searchInput"
    />
    <app-filter-dropdown
      name="Type"
      description="Select type"
      [items]="typeFilters"
      [current]="selectFilterByType$ | async"
      (setFilter)="handleTypeClick($event)"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Language"
      description="Select Language"
      [current]="selectFilterByLanguage$ | async"
      [items]="(filteredLanguages$ | async) || []"
      (setFilter)="handleLanguageClick($event)"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Sort"
      description="Select sort"
      [items]="sortItems"
      [current]="selectSortFilter$ | async"
      (setFilter)="handleSortClick($event)"
    ></app-filter-dropdown>
  </div>
  <ng-container *ngIf="hasActiveSortAndFilters$ | async">
    <div class="divider"></div>
    <div class="results">
      <p class="results__text">
        <span class="bold">{{ selectReposCount$ | async }}</span>
        results
        <ng-container *ngIf="isActiveFilterByType$ | async">
          for <span class="bold">{{ selectFilterByType$ | async }}</span>
          repositories
        </ng-container>
        <ng-container *ngIf="selectFilterBySearch$ | async as search">
          matching <span class="bold">{{ search }}</span>
        </ng-container>
        <ng-container *ngIf="isActiveFilterByLanguage$ | async as language">
          written in
          <span class="bold">
            {{ selectFilterByLanguage$ | async | titlecase }}
          </span>
        </ng-container>
        sorted by
        <span class="bold">
          {{ (selectSortFilter$ | async)?.split('_')?.join(' ') | lowercase }}
        </span>
      </p>
      <span class="results__clear-container" (click)="handleClearClick()">
        <div class="close-background">
          <span appOcticon="x" color="white" size="13"></span>
        </div>
        <p class="results__clear">Clear filter</p>
      </span>
    </div>
    <div class="divider"></div>
  </ng-container>
</section>
