<section>
  <div class="controls">
    <input
      id="searchInput"
      aria-label="Search repository"
      type="search"
      placeholder="Find a repository..."
      [formControl]="searchInput"
    />
    <app-filter-dropdown
      name="Type"
      description="Select type"
      [items]="typeFilters"
      [current]="selectFilterByType$ | async"
      (setFilter)="handleTypeClick($event)"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Language"
      description="Select Language"
      [items]="(filteredLanguages$ | async) || []"
      (setFilter)="handleTypeClick($event)"
    ></app-filter-dropdown>
    <app-filter-dropdown
      name="Sort"
      description="Select type"
      [items]="typeFilters"
      (setFilter)="handleTypeClick($event)"
    ></app-filter-dropdown>
  </div>
  <ng-container *ngIf="hasActiveSortAndFilters$ | async">
    <div class="divider"></div>
    <div class="results">
      <p class="results__text">
        <span class="bold">{{ selectReposCount$ | async }}</span>
        results
        <ng-container *ngIf="selectFilterByType$ | async as type">
          for <span class="bold">{{ type }}</span>
        </ng-container>
        <ng-container *ngIf="selectFilterBySearch$ | async as search">
          matching <span class="bold">{{ search }}</span>
        </ng-container>
        sorted by updated at
      </p>
      <span
        class="results__clear-container"
        (click)="handleClearFiltersClick()"
      >
        <div class="close-background">
          <span appOcticon="x" color="white" size="13"></span>
        </div>
        <p class="results__clear">Clear filter</p>
      </span>
    </div>
    <div class="divider"></div>
  </ng-container>
</section>
