@use 'variables';
@use 'functions';

main {
  padding-top: functions.rem(28);
}

.netlify-badge-container {
  display: flex;
  justify-content: center;
  margin-top: functions.rem(28);
  padding-bottom: variables.$padding--l;
}
