<div class="page">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>

  <main>
    <div class="profile-header">
      <div class="grid grid-cols-12 container">
        <div class="col-span-3"></div>
        <app-profile-nav class="col-span-9"></app-profile-nav>
      </div>
    </div>

    <div class="grid profile-body container">
      <h1>Lorem Ipsum</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
        venenatis rutrum vehicula. Morbi eleifend sed justo in volutpat.
        Pellentesque nec tellus eu nunc ornare aliquet. Morbi congue arcu dolor,
        in euismod dui laoreet ac. Nullam ac tortor ligula. Maecenas id purus
        quis nibh semper gravida non in lorem. Ut sed nunc vestibulum, maximus
        turpis vel, ultricies libero. Proin aliquet viverra ipsum lobortis
        posuere. Sed commodo felis sed tristique pulvinar. Donec fringilla lorem
        a ornare posuere. Pellentesque consequat mi nec erat posuere posuere.
        Suspendisse vestibulum vehicula blandit. In ullamcorper rutrum sapien,
        ut tincidunt erat imperdiet ut.
      </p>
      <p>
        Sed ac odio urna. Aenean vel lectus interdum diam fringilla iaculis ac
        at lectus. Ut a congue quam, ac accumsan augue. Proin venenatis
        venenatis eleifend. Donec venenatis velit bibendum nibh congue, ac
        sagittis ex cursus. Maecenas placerat lectus eu pellentesque volutpat.
        Fusce suscipit, arcu a semper varius, enim mi posuere erat, at aliquet
        est diam sed dolor. Morbi malesuada libero ac ligula iaculis malesuada.
        Nam a nunc tristique quam ullamcorper aliquet vitae ullamcorper elit.
        Suspendisse est leo, venenatis eget consequat sed, porta id purus.
        Maecenas eget nisi ac diam ornare aliquam vitae non orci. Cras rutrum
        nulla vitae quam ullamcorper condimentum. Nullam maximus magna vitae
        elit tincidunt, ut condimentum felis auctor. Cras fermentum est quis
        libero mattis, eget aliquet erat laoreet. Integer quis urna sed ex
        tristique congue.
      </p>
      <p>
        Vivamus aliquet a odio ut vehicula. Morbi ac lorem non lectus accumsan
        laoreet. Nam hendrerit rhoncus ipsum in facilisis. Pellentesque id
        aliquet tellus, quis vestibulum est. Ut lacinia feugiat purus, ac
        faucibus nisi semper id. Proin mauris sapien, placerat id velit vitae,
        tempus sagittis neque. Cras eget feugiat quam. Etiam lobortis, arcu sed
        pretium euismod, leo mauris eleifend sapien, in dignissim nisl sem ut
        justo. Donec nec lacinia eros, sit amet posuere arcu.
      </p>
      <p>
        Pellentesque fringilla vel sapien ut congue. Fusce posuere lectus at
        ultrices ultrices. Sed non arcu fermentum eros facilisis malesuada in eu
        sem. Sed tempus dolor vitae consequat semper. Sed iaculis mollis velit
        quis pulvinar. Duis imperdiet, justo et pretium commodo, erat tortor
        mollis nunc, eu molestie mauris ex a turpis. Suspendisse sit amet diam
        cursus, vulputate erat eget, ornare elit. Duis nec lectus eget nisi
        porta ultricies sit amet quis sem.
      </p>
      <p>
        Duis at rhoncus enim. Nulla non tincidunt lacus, ut rhoncus lorem.
        Phasellus vulputate tellus vel tellus elementum tincidunt. Nunc a
        fermentum sapien. Etiam fermentum lorem tellus, ac faucibus risus tempus
        pharetra. Nunc finibus, ante condimentum iaculis vestibulum, urna risus
        consequat turpis, non bibendum massa orci non erat. Donec quis mauris
        placerat, egestas tortor sit amet, facilisis est.
      </p>
    </div>
  </main>
</div>
