<div class="page">
  <header>
    <app-nav-bar></app-nav-bar>
  </header>
  <main>
    <ng-container *ngIf="profile$ | async as profile">
      <ng-container
        [ngTemplateOutlet]="(isOrgProfile$ | async) ? org : user"
      ></ng-container>
    </ng-container>
    <div class="netlify-badge-container">
      <a target="_blank" href="https://www.netlify.com">
        <img
          src="https://www.netlify.com/v3/img/components/netlify-light.svg"
          alt="Deploys by Netlify"
        />
      </a>
    </div>
  </main>
</div>

<ng-template #org>
  <app-org-profile></app-org-profile>
</ng-template>

<ng-template #user>
  <app-user-profile></app-user-profile>
</ng-template>
