@use '../../shared/styles/variables';

.container {
  padding: 2rem 0;
  border-top: 1px solid variables.$gray300;
  border-bottom: 1px solid variables.$gray300;
  h3 {
    font-weight: 600;
  }
  a.link{
    color: variables.$black;
    &:hover {
      color: variables.$blue300;
    }
  }
}
