@use 'variables';
@use 'functions';

.container {
  padding: functions.rem(28) 0;
  border-top: 1px solid variables.$gray300;
  border-bottom: 1px solid variables.$gray300;
  ul {
    list-style: none;
    padding: 0;
  }
  h3 {
    font-weight: 600;
  }
  a.link {
    color: variables.$black;
    &:hover {
      color: variables.$blue300;
    }
  }
}
