
  :root {
    --primary-color: #0d1117;
    --secondary-color: #7263ca;
    --tertiary-color: #161b22;
    --color-text-primary: #24292e;
    --color-text-seconday: #586069;
    --color-primer-border-contrast: rgba(27, 31, 36, 0.1);
    --color-border: #eaecef;
    --shadow-small: 0 1px 0 rgba(27, 31, 35, 0.04);
    --font-family: -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Helvetica,
      Arial,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji;
  }

.repo-card {
  background-color: #FFFFFF;
  border-color: rgba(229, 231, 235, 1);
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  font-family: var(--font-family);
  color: #57606a;
}

.repo-card_left>.repo-card_left_name-tag,
.repo-card_left_lang-lastupd {
  display: flex;
  align-items: center;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}
.repo-card_left_name-tag > .repo-name {
  margin-right: 1rem;
  color: #0969da;
  text-decoration: none;
}
.repo-card_left_name-tag > .repo-name:hover {
  text-decoration: underline;
}

.repo-card_left_name-tag > .repo-tag {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding: 0px 7px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 2em;
  color: #57606a;
  border-color: #d0d7de;
}

.repo-card >.repo-card_right {
    display: flex;
}
.repo-card_left_lang-lastupd {
  color: #57606a;
  font-size: 12px !important;
}
.repo-card_left_lang-lastupd > *:not(:last-child) {
  margin-right: 10px;
}

.lang-color {
  display: flex;
  align-items: center;
}

.lang-color > .color {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-primer-border-contrast);
  border-radius: 50%;
  margin-right: 10px;
}

.repo-card_left_description {
  width: 74.55%;
}

@media screen and (min-width: 1024px) {
  .repo-card {
    flex-direction: row;
    align-items: center;
  }
}