@import "~/src/App.css";

.repo-card {
  background-color: #FFFFFF;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid;
  border-color: rgba(229, 231, 235, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
  font-family: var(--font-family);
  color: #57606a;

  @media screen and (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
  }

  & > &_left {

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }

    .repo-card_left_name-tag,
    .repo-card_left_lang-lastupd {
      display: flex;
      align-items: center;
    }

    .repo-card_left_name-tag {
      & > .repo-name {
        margin-right: 1rem;
        color: #0969da;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      & > .repo-tag {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        padding: 0px 7px;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        border-radius: 2em;
        color: #57606a;
        border-color: var(--color-border-muted);
      }
    }

    .repo-card_left_description {
      width: 74.55%;
    }

    .repo-card_left_topics {

      & > .topic-tag {
        display: inline-block;
        padding: 0 7px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        border: 1px solid transparent;
        border-radius: 2em;
        padding-right: 10px;
        padding-left: 10px;
        line-height: 22px;
        color: var(--color-accent-fg);
        background-color: var(--color-accent-subtle);
        border: 1px solid var(--color-topic-tag-border, transparent);
        text-decoration: none;

        &:hover {
          color: #FFFFFF;
          background-color: var(--color-accent-fg);
        }
        &:not(:last-child) {
          margin: 0 0.125em 0.333em 0;
        }
      }
    }

    .repo-card_left_lang-lastupd {
      color: #57606a;
      font-size: 12px !important;

      & > *:not(:last-child) {
        margin-right: 10px;
      }

      & > .lang-color {
        display: flex;
        align-items: center;
        & > .color {
          position: relative;
          top: 1px;
          display: inline-block;
          width: 12px;
          height: 12px;
          border: 1px solid var(--color-primer-border-contrast);
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      & > .stars-count{
        cursor: pointer;
        & > svg {
          margin-right: 1px;
        }
        &:hover {
          & > * {
            color: var(--color-accent-fg)
          }
        }
      }
    }
  }

  & > &_right {
    display: flex;

    & > .repo-card_right_starIncrement {
      color: var(--color-btn-text);
      background-color: var(--color-btn-bg);
      border: 1px solid;
      border-color: var(--color-btn-border);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      & > svg {
        margin-right: 4px;
        &:hover {
          color: var(--color-accent-fg)
        }
      }
    }
  }

}

.starSvg {
  color: var(--color-fg-muted);
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}