@use 'variables';
@use 'functions';

.org-info-container {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    .title {
      font-weight: 700;
      font-size: functions.rem(21);
      line-height: functions.rem(28);
    }
    img {
      display: block;
      width: 32px;
      height: 32px;
      margin-right: variables.$padding--s;
      aspect-ratio: 1/1;
      border-radius: variables.$padding--s;
      box-sizing: content-box;
      background-color: white;
    }
  }
}
