<sd-data-container
  *ngIf="fileDetails$ | async as fileDetails"
  [data]="fileDetails"
>
  <div content class="max-w-screen-2xl mx-auto py-8 px-4">
    <div class="grid grid-cols-12 gap-8">
      <div class="col-span-12">
        <app-file-explorer-nav
          [owner]="fileDetails.owner"
          [name]="fileDetails.name"
          [branch]="fileDetails.branch"
          [path]="fileDetails.path"
        ></app-file-explorer-nav>
        <app-file-viewer
          [text]="fileDetails.text"
          [byteSize]="fileDetails.byteSize"
          [lines]="fileDetails.lines"
          [language]="fileDetails.language"
        ></app-file-viewer>
      </div>
    </div>
  </div>

  <div error>
    <div>Error: {{ fileDetails.error?.message }}</div>
  </div>
</sd-data-container>
