@use 'variables';
@use 'functions';

.header {
  position: sticky;
  z-index: 3;
  top: 0;
  background-color: variables.$white;
  font-weight: 600;
  padding: functions.rem(9);
  border: 1px solid variables.$gray300;
  border-radius: variables.$padding--s;

  .icon {
    margin-right: variables.$padding;
  }
}

.content {
  padding: functions.rem(9);
  border: 1px solid variables.$gray300;
  border-radius: variables.$padding--s;
  border-top: none;
}
