# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Nuxt Pinia Tailwind CI

on:
  push:
    branches: [main]
    paths:
      - "nuxt-pinia-tailwind/**"
  pull_request:
    branches: [main]
    paths:
      - "nuxt-pinia-tailwind/**"

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
          cache-dependency-path: nuxt-pinia-tailwind/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: nuxt-pinia-tailwind

      - name: Lint files
        run: yarn lint
        working-directory: nuxt-pinia-tailwind

  format-check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: nuxt-pinia-tailwind/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: nuxt-pinia-tailwind

      - name: Check formatting
        run: npm run format:check
        working-directory: nuxt-pinia-tailwind

  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: nuxt-pinia-tailwind/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: nuxt-pinia-tailwind

      - name: Run tests
        run: yarn test
        working-directory: nuxt-pinia-tailwind

  build:
    runs-on: ubuntu-latest
    needs: [lint, format-check, run-unit-tests]

    strategy:
      fail-fast: false
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: nuxt-pinia-tailwind/yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: nuxt-pinia-tailwind

      - name: Build Project
        run: yarn build
        working-directory: nuxt-pinia-tailwind